In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
A database is a structured collection of data that allows for efficient storage, retrieval, and management.
Databases enable users to create, read, update, and delete data, and they typically support various operations 
through a query language.

SQL Databases
SQL (Structured Query Language) databases are relational databases that store data in tables with predefined 
schemas. They use SQL for querying and managing data. Key features include:
-Structured Data: Data is organized in rows and columns, making it easy to enforce data integrity and relationships 
through foreign keys.
-ACID Compliance: SQL databases ensure Atomicity, Consistency, Isolation, and Durability, which guarantees reliable 
transactions.
-Schema: Requires a defined schema, meaning changes to the structure often require migration.

Examples: MySQL, PostgreSQL, Oracle, Microsoft SQL Server.

NoSQL Databases
NoSQL (Not Only SQL) databases are designed to handle unstructured or semi-structured data. They can store data in 
various formats, such as key-value pairs, documents, wide-column stores, or graphs. Key features include:
-Flexible Schema: Data can be stored without a rigid schema, allowing for easier changes and adaptations.
-Scalability: Often designed for horizontal scaling, making them well-suited for large volumes of data and high traffic.
-Diverse Data Models: Supports various data models (document, key-value, column-family, graph), allowing for greater 
versatility in data handling.

Examples: MongoDB (document), Redis (key-value), Cassandra (wide-column), Neo4j (graph).

### Key Differences

| Feature                   | SQL Databases                | NoSQL Databases             |
|---------------------------|------------------------------|-----------------------------|
| Data Structure            | Tables with rows and columns | Various (key-value, document, etc.) |
| Schema                    | Fixed schema                 | Dynamic schema              |
| Scalability               | Vertical scaling              | Horizontal scaling           |
| Transactions              | ACID compliant               | BASE (Basically Available, Soft state, Eventually consistent) |
| Use Cases                 | Structured data applications  | Big data, real-time web apps, and applications requiring flexibility |

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
DDL (Data Definition Language) is a subset of SQL used to define and manage all structures in a database.
DDL commands allow users to create, modify, and delete database objects such as tables, indexes, and schemas.

Common DDL Commands

1. CREATE
   - Used to create new database objects.
   - Example: Creating a new table called `Employees`.

     sql
     CREATE TABLE Employees (
         EmployeeID INT PRIMARY KEY,
         FirstName VARCHAR(50),
         LastName VARCHAR(50),
         HireDate DATE
     );


2. DROP
   - Used to delete existing database objects.
   - Example: Dropping the `Employees` table.

     sql
     DROP TABLE Employees;
     

3. ALTER
   - Used to modify existing database objects.
   - Example: Adding a new column `Email` to the `Employees` table.

     ```sql
     ALTER TABLE Employees
     ADD Email VARCHAR(100);
     ```

4. TRUNCATE
   - Used to remove all records from a table while keeping the structure intact. It is faster than using `DELETE` because it does not log individual row deletions.
   - Example: Truncating the `Employees` table.

     ```sql
     TRUNCATE TABLE Employees;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
Common DML Commands

1. INSERT
   - Used to add new records to a table.
   - Example: Inserting a new employee record into the `Employees` table.

     ```sql
     INSERT INTO Employees (EmployeeID, FirstName, LastName, HireDate, Email)
     VALUES (1, 'John', 'Doe', '2024-01-15', 'john.doe@example.com');
     ```

2. UPDATE
   - Used to modify existing records in a table.
   - Example: Updating the email address of an employee with `EmployeeID` 1.

     ```sql
     UPDATE Employees
     SET Email = 'john.new@example.com'
     WHERE EmployeeID = 1;
     ```

3. DELETE
   - Used to remove records from a table.
   - Example: Deleting the record of the employee with `EmployeeID` 1.

     ```sql
     DELETE FROM Employees
     WHERE EmployeeID = 1;
     ```

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

In [ ]:
SELECT Statement
The `SELECT` statement can be used to fetch data from one or more tables, with various options for filtering, 
sorting, and grouping the results.

Basic Syntax
```sql
SELECT column1, column2, ...
FROM table_name
WHERE condition
ORDER BY column
```

Example of SELECT

Imagine we have a table called `Employees` with the following structure:

| EmployeeID | FirstName | LastName | HireDate   | Email                 |
|------------|-----------|----------|------------|-----------------------|
| 1          | John      | Doe      | 2024-01-15 | john.doe@example.com  |
| 2          | Jane      | Smith    | 2023-06-20 | jane.smith@example.com|
| 3          | Alice     | Johnson  | 2022-09-30 | alice.j@example.com   |

Example Queries

1. Select All Columns

   To retrieve all columns for all employees:

   ```sql
   SELECT * FROM Employees;
   ```

2. Select Specific Columns

   To retrieve only the `FirstName` and `LastName` of employees:

   ```sql
   SELECT FirstName, LastName FROM Employees;
   ```

3. Using a WHERE Clause

   To find employees hired after January 1, 2023:

   ```sql
   SELECT * FROM Employees
   WHERE HireDate > '2023-01-01';
   ```

4. Ordering Results

   To retrieve all employees and order them by their `LastName`:

   ```sql
   SELECT * FROM Employees
   ORDER BY LastName;
   ```

In [ ]:
Q5. Explain Primary Key and Foreign Key.

In [ ]:
Primary Key
A Primary Key is a unique identifier for a record in a database table. It ensures that each row can be uniquely
identified, which helps maintain data integrity. Key characteristics of a primary key include:

- Uniqueness: Each value in a primary key column must be unique across the table.
- Non-null: Primary keys cannot contain NULL values; every record must have a value for the primary key.
- Immutability: The value of a primary key should not change once it has been set.

Example: In a table called `Employees`, `EmployeeID` could be a primary key.

| EmployeeID | FirstName | LastName |
|------------|-----------|----------|
| 1          | John      | Doe      |
| 2          | Jane      | Smith    |

In this example, `EmployeeID` uniquely identifies each employee.

Foreign Key
A Foreign Key is a field (or collection of fields) in one table that uniquely identifies a row in another table. 
It establishes a relationship between the two tables, helping maintain referential integrity. Key characteristics 
of a foreign key include:

- Reference: It points to a primary key in another table.
- Nullability: Foreign keys can contain NULL values unless specified otherwise, allowing for optional relationships.
- Referential Integrity: Foreign keys help ensure that the relationship between the two tables remains consistent; 
    for example, you cannot have a foreign key value that does not exist in the referenced table.

Example: In a table called `Departments`, `DepartmentID` might be a primary key, and in the `Employees` table, 
there might be a `DepartmentID` as a foreign key.

Departments Table:

| DepartmentID | DepartmentName |
|--------------|-----------------|
| 1            | HR              |
| 2            | IT              |

**Employees Table**:

| EmployeeID | FirstName | LastName | DepartmentID |
|------------|-----------|----------|---------------|
| 1          | John      | Doe      | 2             |
| 2          | Jane      | Smith    | 1             |

In this example, `DepartmentID` in the `Employees` table is a foreign key that references the `DepartmentID` in 
the `Departments` table, establishing a relationship between employees and their respective departments.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [7]:
pip install mysql-connector-python

Collecting mysql-connector-pythonNote: you may need to restart the kernel to use updated packages.

  Obtaining dependency information for mysql-connector-python from https://files.pythonhosted.org/packages/54/15/98d703a1101e0bfb106e4085f41f937ddca869d16746c076fb818b6f883d/mysql_connector_python-9.1.0-cp311-cp311-win_amd64.whl.metadata
  Downloading mysql_connector_python-9.1.0-cp311-cp311-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.1.0-cp311-cp311-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.1/16.1 MB 465.5 kB/s eta 0:00:35
   ---------------------------------------- 0.1/16.1 MB 465.5 kB/s eta 0:00:35
   ---------------------------------------- 0.1/16.1 MB 465.5 kB/s eta 0:00:35
   ---------------------------------------- 0.1/16.1 MB 465.5 kB/s eta 0:00:35
   ---------------------------------------- 0.2/16.1 MB 468.3 kB/s eta 0:00:34
   ---------------------------------------- 0.2/16.1 MB 468.3 kB/s eta 0:00:34
   ---------------------------------------- 0.2/16.1 MB 468.3 kB/s eta 0:00:34
   ---------------------------------------- 0.2/16.1 MB 468.3 kB/s eta 0:00:34
   ---------------------------------------- 0.2/16.1 MB 468.3 kB/s eta 0:00:34
   ---------------------------------------- 0.2/16.1 MB 468.3 kB/s eta 0:00:34
   ---------------------------------------- 0.2/16.1 MB 468.3 kB/s eta 0:00:34
   ---------------------------------------- 0.2/16.1 MB 468.3 kB/s eta 0:00:34
   ---------------------------------------- 0.2/16.1 MB 468.3 kB/s eta 0:00:34
    --------------------------------------- 0.3/16.1 MB 404.0 kB/s eta 0:00:39
    --------------------------------------- 0.3/16.1 MB 404.0 kB/s eta 0:00:39
   - -------------------------------------- 0.5/16.1 MB 571.5 kB/s eta 0:00:28
   - -------------------------------------- 0.7/16.1 MB 842.6 kB/s eta 0:00:19
   -- ------------------------------------- 1.1/16.1 MB 1.1 MB/s eta 0:00:14
   --- ------------------------------------ 1.5/16.1 MB 1.5 MB/s eta 0:00:10
   ----- ---------------------------------- 2.0/16.1 MB 1.9 MB/s eta 0:00:08
   ------ --------------------------------- 2.6/16.1 MB 2.4 MB/s eta 0:00:06
   ------- -------------------------------- 3.1/16.1 MB 2.7 MB/s eta 0:00:05
   ------- -------------------------------- 3.2/16.1 MB 2.7 MB/s eta 0:00:05
   ---------- ----------------------------- 4.1/16.1 MB 3.3 MB/s eta 0:00:04
   ----------- ---------------------------- 4.6/16.1 MB 3.5 MB/s eta 0:00:04
   ------------ --------------------------- 5.0/16.1 MB 3.8 MB/s eta 0:00:03
   ------------- -------------------------- 5.5/16.1 MB 4.0 MB/s eta 0:00:03
   --------------- ------------------------ 6.1/16.1 MB 4.2 MB/s eta 0:00:03
   --------------- ------------------------ 6.1/16.1 MB 4.3 MB/s eta 0:00:03
   --------------- ------------------------ 6.1/16.1 MB 4.3 MB/s eta 0:00:03
   --------------- ------------------------ 6.3/16.1 MB 4.1 MB/s eta 0:00:03
   --------------- ------------------------ 6.3/16.1 MB 4.1 MB/s eta 0:00:03
   --------------- ------------------------ 6.3/16.1 MB 4.1 MB/s eta 0:00:03
   --------------- ------------------------ 6.3/16.1 MB 4.1 MB/s eta 0:00:03
   --------------- ------------------------ 6.4/16.1 MB 3.7 MB/s eta 0:00:03
   ---------------- ----------------------- 6.4/16.1 MB 3.6 MB/s eta 0:00:03
   ---------------- ----------------------- 6.4/16.1 MB 3.6 MB/s eta 0:00:03
   ---------------- ----------------------- 6.4/16.1 MB 3.6 MB/s eta 0:00:03
   ---------------- ----------------------- 6.5/16.1 MB 3.3 MB/s eta 0:00:03
   ---------------- ----------------------- 6.6/16.1 MB 3.3 MB/s eta 0:00:03
   ---------------- ----------------------- 6.6/16.1 MB 3.2 MB/s eta 0:00:03
   ----------------- ---------------------- 7.0/16.1 MB 3.3 MB/s eta 0:00:03
   ------------------ --------------------- 7.4/16.1 MB 3.5 MB/s eta 0:00:03
   ------------------- -------------------- 7.9/16.1 MB 3.6 MB/s eta 0:00:03
   -------------------- ------------------- 8.3/16.1 MB 3.7 MB/s eta 0:00:03
   --------------------- ------------------ 8.7/16.1 MB 3.8 MB/s eta 0:00:02
   ---------------------- ----------------- 9.2/16.1 MB 3.9 MB/s eta 0:00:02
   ----------------------- ---------------- 9.5/16.1 MB 4.0 MB/s eta 0:00:02
   ------------------------ --------------- 10.0/16.1 MB 4.1 MB/s eta 0:00:02
   ------------------------- -------------- 10.3/16.1 MB 4.7 MB/s eta 0:00:02
   -------------------------- ------------- 10.8/16.1 MB 6.2 MB/s eta 0:00:01
   --------------------------- ------------ 11.0/16.1 MB 6.2 MB/s eta 0:00:01
   ---------------------------- ----------- 11.6/16.1 MB 6.4 MB/s eta 0:00:01
   ------------------------------ --------- 12.1/16.1 MB 6.3 MB/s eta 0:00:01
   ------------------------------- -------- 12.6/16.1 MB 6.3 MB/s eta 0:00:01
   -------------------------------- ------- 13.0/16.1 MB 6.2 MB/s eta 0:00:01
   --------------------------------- ------ 13.4/16.1 MB 6.4 MB/s eta 0:00:01
   ---------------------------------- ----- 13.9/16.1 MB 6.2 MB/s eta 0:00:01
   ----------------------------------- ---- 14.3/16.1 MB 6.1 MB/s eta 0:00:01
   ------------------------------------ --- 14.8/16.1 MB 6.2 MB/s eta 0:00:01
   -------------------------------------- - 15.3/16.1 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------  15.7/16.1 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------  15.8/16.1 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 5.7 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0

In [8]:
import mysql.connector

# Establish a connection to the MySQL database
connection = mysql.connector.connect(
    host='localhost',       # Your MySQL server host
    user='your_username',   # Your MySQL username
    password='your_password',# Your MySQL password
    database='your_database' # The database you want to connect to
)

# Check if the connection was successful
if connection.is_connected():
    print("Connected to MySQL database")

    # Create a cursor object using the cursor() method
    cursor = connection.cursor()

    # Example query: Select all records from a table
    cursor.execute("SELECT * FROM Employees")

    # Fetch all rows from the executed query
    results = cursor.fetchall()
    for row in results:
        print(row)

    # Close the cursor and connection
    cursor.close()
    connection.close()
else:
    print("Failed to connect to MySQL database")

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
The order of execution of SQL clauses in an SQL query follows a specific sequence, which can sometimes be 
counterintuitive. Here’s the typical order in which SQL clauses are processed:
1. FROM: Determines the tables from which to retrieve the data. This is where the joins are performed if any.
2. WHERE: Filters the rows based on specified conditions. Only the rows that meet these conditions are passed on to 
    the next clause.
3. GROUP BY: Groups the result set into subsets based on one or more columns. This is useful for aggregate functions
    (like `COUNT`, `SUM`, etc.).
4. HAVING: Filters the groups created by the `GROUP BY` clause. It allows you to specify conditions for the aggregated
    data.
5. SELECT: Specifies the columns to be returned in the result set. This is where you define which fields to display.
6. DISTINCT: (if used) removes duplicate rows from the result set after the `SELECT` clause has been evaluated.
7. ORDER BY: Sorts the result set based on specified columns, in ascending or descending order.
8. LIMIT/OFFSET: (if used) restricts the number of rows returned in the result set or specifies the starting point 
    for the results.

### Example Query

Here’s a simplified example that illustrates the order:

```sql
SELECT DISTINCT FirstName, LastName
FROM Employees
WHERE HireDate > '2023-01-01'
GROUP BY LastName
HAVING COUNT(*) > 1
ORDER BY FirstName
LIMIT 10;
```